/*--dashboard--*/
body {
    font-family: Arial, sans-serif;
    background-color: #27374D;
 
} 
 
.navbar {
  background-color: black;
  color: lightblue;
  height: 7vh;
  text-shadow: lavender;
}

.navbar ul {
    text-align: left;
    list-style-type: none;
    position: fixed;
}

.sidebar {
  background-color: skyblue;
  color: lightblue;
  width: 200px;
  height: 100vh;
  position: fixed;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

/*---------------------*/

/*--manajemen pengguna--*/
.mp {
  text-align: center;
}

.mp input {
  width: 25%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: lightblue;
  cursor: pointer;
}

.mp input [type="submit"]:hover{
  background-color: darkblue;
}

/*----------------*/





